/* Set a better box-sizing and removed all default margins and padding */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Variables for colors */
:root{
    --background-color: #BBB5A2;
    --secondary-background-color: #433226;
    --text-color: #EDE9E0;
    --text-hover-color: #D4AF37;
    --button-color: #C97B43;
    --button-hover-color: #E2A76F;
    --game-containers-background-color: rgb(230, 230, 230);
}

body{
    background-image: url(../assets/bean-boss-background-image.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Rope Decoration */
.rope-decor-left{
    width: 10px;
    height: 40px;
    position: absolute;
    top: 99px;
    margin-left: 33px;
    background-image: linear-gradient(140deg, wheat, black, wheat, black, wheat, black, wheat, black, wheat);
}

.rope-decor-right{
    width: 10px;
    height: 40px;
    position: absolute;
    top: 99px;
    margin-left: 830px;
    background-image: linear-gradient(140deg, wheat, black, wheat, black, wheat, black, wheat, black, wheat);
}

/* Navbar */
.navbar{
    background-color: var(--secondary-background-color);
    width: 75rem;
    margin: 0 auto 0 auto;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 4px solid black;
    border-left: 4px solid black;
    border-right: 4px solid black;
}

.nav-logo-container, .profile-link{
    display: flex;
    align-items: center;
}

#logo-text{
    font-family: "Press Start 2P";
    color: #EDE9E0;
    font-size: 22px;
    margin-left: 10px;
}

.nav-link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 17px;
    margin-right: 15px;
    font-family: "Nunito";
    font-weight: bold;
}
.nav-link:hover{
    color: var(--text-hover-color);
}

.register-login-nav-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.leaderboard-pfp-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#leaderboard-icon{
    margin-bottom: 7px;
    padding-right: 5px;
}

.leaderboard-link{
    margin-top: 4px;
    padding-right: 10px;
}

#profile-picture{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-bottom: -5px;
    border: 3px solid black;
}

/* register.php and login.php */
.back-btn{
    position: absolute;
    font-size: 24px;
    left: 8px;
    top: 3px;
    font-family: "Nunito";
    font-weight: bold;
}

.back-btn-link{
    text-decoration: none;
    color: black;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.register-login-heading{
    text-align: center;
    margin-bottom: 15px;
    font-family: "Press Start 2P";
    font-size: 32px;
}

.form{
    width: 500px;
    background-color: var(--secondary-background-color);
    padding: 20px;
    border: 4px solid black;
    border-radius: 20px;
    text-align: center;
}

.label{
    display: block;
    font-family: "Nunito";
    font-size: 17px;
    color: var(--text-color);
    font-weight: bold;
}

.input{
    width: 250px;
    padding: 4px 3px;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 8px;
    font-family: "Nunito";
}

#register-btn, #login-btn{
    cursor: pointer;
    display: block;
    margin: 0 auto 0 auto;
    margin-top: 10px;
    width: 100px;
    padding: 5px 0;
    border: none;
    border-radius: 10px;
    font-family: "Nunito";
    font-size: 14px;
    font-weight: bold;
    background-color: var(--button-color);
}
#register-btn:hover, #login-btn:hover{
    background-color: var(--button-hover-color);
}

.subform-redirect{
    width: 100%;
    text-align: center;
    font-family: "Press Start 2P";
    font-size: 14px;
    margin-top: 10px;
}

.subform-redirect-link{
    text-decoration: none;
    color: blue;
    margin-left: 5px;
}
.subform-redirect-link:hover{
    color: red;
}

/* PHP form error message styling */
.error-msg{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    font-family: "Nunito";
    font-weight: bold;
}

/* Game Container and index.php */
.gameContainer{
    width: 55rem;
    margin: 40px auto 20px auto;
    border: 4px solid black;
    background-color: var(--secondary-background-color);
    border-radius: 20px;
    padding: 16px 0;
}

.business-name{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 12px;
    font-family: "Press Start 2P";
    font-size: 24px;
    color: var(--text-color);
}

.day-time{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 25px;
    font-family: "Nunito";
    font-weight: bold;
    color: var(--text-color);
    font-size: 20px;
}

.game-grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "main upgrades"
    "activity upgrades";
    gap: 20px;
}

/* Main container */
.main-box{
    width: 350px;
    height: max-content;
    padding: 20px;
    text-align: center;
    border: 2px solid black;
    margin: 0 auto 0 auto;
    border-radius: 20px;
    grid-area: main;
}

#moneyText{
    font-family: "Nunito";
    font-size: 22px;
    font-weight: bold;
}

#brewBtn{
    width: 130px;
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
    background-color: var(--button-color);
    border: none;
    border-radius: 10px;
    font-family: "Nunito";
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0 4px 0 #8a4f2d;
    transition: all 0.1s ease;
}
#brewBtn:hover{
    background-color: var(--button-hover-color);
}
#brewBtn:active{
    transform: translateY(4px);
    box-shadow: none;
}

#pauseBtn{
    display: block;
    width: 20px;
    cursor: pointer;
    margin: 17px auto 0 auto;
}

.money-popup {
    position: absolute;
    font-family: "Nunito";
    font-weight: bold;
    color: green;
    pointer-events: none;
    animation: floatUp 0.8s ease-out;
}
@keyframes floatUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-40px);
    }
}

/* Upgrades */
.upgrades-box{
    width: 350px;
    height: max-content;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    text-align: center;
    border: 2px solid black;
    margin: 0 auto 0 auto;
    border-radius: 20px;
    grid-area: upgrades;
}

.upgradesBtn{
    width: 300px;
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: var(--button-color);
    border: none;
    border-radius: 10px;
    font-family: "Nunito";
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0 4px 0 #8a4f2d;
    margin-bottom: 5px;
    display: inline-block;
}
.upgradesBtn:hover{
    background-color: var(--button-hover-color);
}
.upgradesBtn:active{
    transform: translateY(4px);
    box-shadow: none;
}

#upgradesLevelText, #upgrades-level{
    font-family: "Nunito";
    font-size: 22px;
    font-weight: bold;
}

/* Activity box */
#activity-box{
    width: 350px;
    height: 150px;
    padding: 20px;
    text-align: center;
    border: 2px solid black;
    margin: 0 auto 0 auto;
    border-radius: 20px;
    max-height: 150px;
    overflow-y: auto;
    grid-area: activity;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.activity-text{
    font-family: "Nunito";
    font-size: 18px;
}

.main-box, .upgrades-box, #activity-box{
    box-shadow: 0 6px 0 black;
    background: linear-gradient(to bottom, #BBB5A2, #9f9987);
}

/* welcome.php */
.welcome-main-container{
    height: 85vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-sub-container{
    width: 680px;
    background-color: var(--secondary-background-color);
    border: 4px solid black;
    border-radius: 20px;
    padding: 25px 25px 20px 25px;
    text-align: center;
}

#welcome-header{
    font-family: "Press Start 2P";
    color: var(--text-color);
    font-size: 28px;
    margin-bottom: 5px;
}

#welcome-tagline{
    font-family: "Nunito";
    color: var(--text-color);
    font-size: 18px;
    font-weight: bold;
}

.welcome-features{
    list-style-type: none;
    font-family: "Nunito";
    color: var(--text-color);
    margin: 25px 0 30px 0;
    font-size: 18px;
}

.welcome-actions{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-btn{
    width: 190px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: var(--button-color);
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
}
.welcome-btn:hover{
    background-color: var(--button-hover-color);
}

#welcome-register-link{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-family: "Nunito";
    font-weight: bold;
}

#welcome-login-link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 16px;
    font-family: "Nunito";
    font-weight: bold;
}
#welcome-login-link:hover{
    color: var(--button-hover-color);
}

/* user_account.php */
.profile-flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.profile-container{
    width: 55rem;
    border: 4px solid black;
    border-radius: 20px;
    margin: 40px auto 0 auto;
    background-color: var(--secondary-background-color);
}

.profile-info{
    width: 100%;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-account-info{
    font-family: "Press Start 2P";
    color: var(--text-color);
    margin-top: 10px;
    font-size: 18px;
    text-decoration: none;
}

.user-account-info-link:hover{
    color: var(--text-hover-color);
}

#user-account-username{
    font-size: 25px;
    margin-bottom: 5px;
}

.user-account-hr{
    width: 350px;
    color: var(--text-color);
    margin-top: 5px;
}

/* Account Editing & Settings */
.account-settings-container{
    width: 55rem;
    border: 4px solid black;
    border-radius: 20px;
    margin: 40px auto 0 auto;
    background-color: var(--secondary-background-color);
}

.account-settings-header{
    font-family: "Press Start 2P";
    color: var(--text-color);
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

.account-settings-hr{
    width: 350px;
    color: var(--text-color);
    margin-top: 5px;
    margin: 0 auto 0 auto;
}

.account-settings-text{
    font-family: "Nunito";
    color: var(--text-color);
    font-weight: bold;
    margin-bottom: 5px;
}

#change-pfp-btn{
    margin-bottom: 10px;
    margin-left: 60px;
}

#change-username-input{
    margin-bottom: 10px;
    padding: 5px;
    font-family: "Nunito";
    border: 2px solid black;
    border-radius: 10px;
}

.save-changes-btn{
    cursor: pointer;
    margin-top: 15px;
    width: 110px;
    padding: 5px 0;
    border: none;
    border-radius: 10px;
    font-family: "Nunito";
    font-size: 14px;
    font-weight: bold;
    background-color: var(--button-color);
}
.save-changes-btn:hover{
    background-color: var(--button-hover-color);
}

#account-settings-save-btn{
    display: block;
    margin: 4px auto 12px auto;
}

.account-settings-flex-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 40rem;
    margin: 25px auto 0 auto;
}

.account-settings-option{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: "Nunito";
    font-size: 18px;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 25px;
}

.account-settings-button{
    margin-top: -10px;
}

.button{
    display: inline-block;
    background-color: #d2d2d2;
    width: 55px;
    height: 25px;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
    margin-top: 12px;
    margin-bottom: -8px;
}
.button::before{
    position: absolute;
    content: '';
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 20px;
    margin: 5px;
    transition: 0.2s;
}
input:checked + .button{
    background-color: green;
}
input:checked + .button::before{
    transform: translateX(30px);
}

#check1, #check2, #check3, #check4{
    display: none;
}

#delete-account-button{
    display: block;
    margin: 12px auto 12px auto;
    width: 200px;
    padding: 5px;
    font-family: "Nunito";
    font-size: 18px;
    font-weight: bold;
    color: var(--text-color);
    background-color: red;
    border: 3px solid black;
    cursor: pointer;
}

/* leaderboard.php */
.leaderboard-container{
    width: 55rem;
    border: 4px solid black;
    border-radius: 20px;
    margin: 40px auto 0 auto;
    background-color: var(--secondary-background-color);
}

/* Responsive design */